main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    margin: auto;
    padding: 4rem 0;
    gap: 2rem;
    max-width: 40rem;
    padding: 2rem;
    background-color: #d6ebff;
    background-image: linear-gradient(62deg, #d6ebffc3 0%, #f0e0ffa9 100%);
    border-radius: 2rem;
}

a,
h2 {
    width: 100%;
    text-align: center;
    height: auto;
}